@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<h1>Beverage Database Viewer 3.0</h1>
<h2>The purpose of this site is to link to a database of Beverages and allow data manipulation.</h2>
<br />
<br />
<h3>This database allows</h3>
<br />
<h4>Access the records.</h4>
<p>The ability to access the database is restricted to users possessing an account.</p>
<p>attempts to access the database without an account will redirect the user
            to the login page.</p>
<h4>Update the existing records.</h4>
<p>The program provides the ability to view an existing record and update everything
            short of the ID property.</p>
<p>The changes are saved to the database and will appear when it is queried.</p>
<h4>Add a new record.</h4>
<p>Similar to updating a record. Although here an entirely new row is created.</p>
<p>Everything from the ID property to the Active property can be input.</p>
<p>The new beverage is added to the collection.</p>
<h4>Delete an existing record.</h4>
<p>If the user so chooses, a beverage item can be deleted from the database.</p>
<p>This is not recommended because it is a permanent change.</p>
<h4>Manipulate the output vis an applicable filter.</h4>
<p>The database can be subjected to a filter, screening the displayed beverages.</p>
<p>The filter can include the <em>Name</em>, <em>Pack</em>, and 
            <em>Min</em> and <em>Max</em> Price.</p>
<h5>Improvements</h5>
<p>The site's maintenance team encourages feedback, and ideas to improve functionality.</p>
<p>Visit our <strong>Contact</strong> page with suggestions.</p>

<p></p>
