@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    1800 Pennsylvannia Avenue<br />
    Washington DC, VA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    555.666.1800
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Daimyo121@aol.com">Daimyo121@aol.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Daimyo121@aol.com">Daimyo121@aol.com</a>
</address>