@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Beverage Database</h1>
    <p class="lead">Many beverages contain water, and water is crucial to life as we know it.</p>
    <p><a href="http://google.com" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Water</h2>
        <p>Are you ready?</p>
        <p><a class="btn btn-default" 
              href="https://www.youtube.com/watch?v=c-hFbBhJyX8">
               Be ready &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>That is some high quality<em>H20</em></h2>
        <p>Water has many uses, namely to keep youe body hydrated. Seeing as how your body contains between <a href="http://water.usgs.gov/edu/propertyyou.html">roughtly 60% water.</a></p>
        <p>Are you thirsty?</p>
        <p><a class="btn btn-default" href="https://www.youtube.com/watch?v=g9mGZ1kPIiQ">GATORADE &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>In Conclusion</h2>
        <p>Whenever you feel down, just grab some water and think of all the good it's done for you.
        <p><a class="btn btn-default" href="https://www.youtube.com/watch?v=dcPxxYVZcVk">#TheGoodTimes &raquo;</a></p>
    </div>
</div>